/* Structure */

table {
    width: 100%;
}

.head1 {
    font-size: 40px;
    color: #4267B2;
    font-weight: bold;
    font-family: Quicksand;
}

.head2 {
    font-size: 17px;
    margin-left: 10px;
    color: black;
}

.mat-tab-label {
    font-family: Quicksand;
  }

